*{
  margin: 0px;
  padding: 0px;
}

.App{
  background-color: blueviolet;
  height: 130vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main{
  background-color: white;
  width: 500px;
  height: fit-content;
  padding: 20px;
}
h2{
  font-weight: 400;
}